//Created by Alexandr Andrianov on 19.02.2017.

header(class="header header_theme_cold")
    div(class="container")
        img(src="img/logo.png" alt="logo" class="header__logo")
        form(name="search-form")
            input(name="text" placeholder="Поиск" class="search-form__text")
